body {
    min-width:660px;
    margin:auto;
}
table
{
    border-collapse:collapse;
}
tr:first-child
{
    background-color:#ffff99;
    
}
th:first-child
{
     background-color:#ffff99;
   
}
.empty
{
    visibility:hidden;
}


p
{
    color:red;
}
td
{
    text-align:center;
    width:15px;
    border:1px solid black;
}
th
{
    width:15px;
    border-color: #ffff99;

}
.classy
{
    background-color: #ffff99;
    font-weight:bold;
}